*{
    box-sizing: border-box;
    padding: 0;
    margin: 16px;
}

nav{
    display: flex;
    
}

.logo-img{
    margin-right: 40em;
}

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'a a b'
    'c d b'
    ;
}

button{
    background-color: rgba(240, 8, 8, 0.87);
    color: #fff;
    border: 0ch;
    padding: 8px;
}

.web3-img{
    height: 250px;
    width: auto;
}

.item1{
    grid-area: 'a';
}

main{
    display: flex;
}

.num-el{
    opacity: 0.7;
}

.foot-img{
    height: 8em;
}

.flex-con{
    display: flex;

}

.font-change{
    font-size: xx-large;
}

h5{
    display: flex;
}

.opq{
    opacity: 0.7;
}