.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 8px;
}

body{
      margin: auto;
      padding: 50px 200px;
    }

nav{
    display: flex;
} 

.logo-img{
    width: 60%;
}

section{
    padding: 20px;
    display: grid;
    grid-template-areas: 
    'a a b'
    'c d b'
    ;
    gap: 20px;
}

.item1{
    grid-area: a;
}


button{
    background-color: rgba(240, 8, 8, 0.87);
    color: #fff;
    border: 0ch;
    padding: 8px;
}

.web3-img{
    height: 100%;
    width: 100%;
}


main{
    display: flex;
}

.num-el{
    opacity: 0.7;
}

.foot-img{
    height: 8em;
}

.flex-con{
    display: flex;

}

.font-change{
    font-size: xx-large;
}

h5{
    display: flex;
}

.opq{
    opacity: 0.7;
}

.item3{
    grid-area: b;
    background-color:  hsl(240, 100%, 5%);
    color: #fff;
}


.item2{
    grid-area: b;
    background-color: hsl(240, 100%, 5%);
}

.menu{
    display: flex;
   
}

.menu div{
    width: 20%;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.7;
  }

.item2 > h1{
    color: hsl(35, 77%, 62%);
}

.item2 > h3{
    color: #fff;
}


.first, .second{
    border-bottom: 1px solid hsl(233, 8%, 79%);
}

.first h3{
    color: #fff;
}

.first p{
    color: #fff;
    opacity: 0.7;
}

.second h3{
    color: #fff;
}
.second p{
    color: #fff;
    opacity: 0.7;
}

.third h3{
    color: #fff;
}

.third p{
    color: #fff;
    opacity: 0.7;
}

.first, .second, .third{
    margin: 10px 0;
    padding: 10px 10px;
  }

  @media screen and (max-width: 768px){
    nav{
        
        display: flex;
        flex-direction: column;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .show-icon-menu{
        height: 1rem;
        position: absolute;
        margin-top: 5px;
        margin-left: 8rem;
        margin-bottom: 20rem;
    }
  }

  /* hide the links on the nav bar */
  .hide-links{
    height: 0;
    overflow: hidden;
  }
 

.menu{
    height: 10rem;
}

.icon-menu{
    height: 0;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    main{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    section{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}